.login_container{
  width: fit-content;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1), 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid rgba(151, 151, 151, 0.2);
}

.registertag{
  width: 24px;
  height: 11px;
  font-size: 6px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #1890FF;
  line-height: 11px;
}

.loginbutton{
  width: 158px;
  height: 20px;
  background: #1890FF;
  border-radius: 1px;
}